<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block title %}
    <title>Main</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        <header class="header">

            <div class="header__logo-container">
                <div class="header__logo-link"><a href="{% url 'front:posts' %}">Y</a></div>
                <p class="header__logo-text">Hacker News</p>
            </div>
            {% if request.user.is_authenticated %}
            <div class="header__action-container">
                <p class="header__action-create"><a href="{% url 'front:create' %}">create</a></p>
                <p class="header__action-login">{{ user.username }}</p>
                <p class="header__action-login"><a href="{% url 'front:logout' %}"">logout</a></p>
            </div>
            {% else %}
            <div class="header__action-container">
                <p class="header__action-login"><a href="{% url 'front:login' %}"">login</a></p>
                <p class="header__action-login"><a href="{% url 'front:register' %}"">SignUp</a></p>
            </div>
            {% endif %}
        </header>
{% block body %}

{% endblock %}
</html>